.btn{
   
    color: white;
}
*{
    box-sizing: border-box;
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
}
.box{
    border:1px solid white ;
    
    height: 100px;
    width: 100px;
}